.container
  .card
    .card-header Roles
    .card-body
      .card-text
        %table.table.table-hover
          %thead.thead-inverse
            %tr
              %th Role Name
              %th
              %th

          %tbody
            - @roles.each do |role|
              %tr
                %td= role.name
                %td.control-cell= link_to '<i class="material-icons md-18">list</i>'.html_safe, edit_role_path(role)
                %td.control-cell= link_to '<i class="material-icons md-18">delete</i>'.html_safe, role, method: :delete, data: { confirm: 'Are you sure?' }
    .card-footer
      = link_to 'Add New Role', new_role_path, role: 'button', class: 'btn btn-primary card-link'
