header {
    padding-bottom: 0.3em;
}
footer {
    padding-top: 1em;
}
body {
    &>footer {
        border-top: 1px solid #ddd;
        margin-top: 1em;
        text-align: center;
        color: #888;
        font-size: 80%;
    }
}
#powered {
    ul {
        li {
            display: inline-block;
            margin-left: 1em;
            a {
                color: #888;
            }
        }
    }
}
.control-cell {
    width: 32px;
}
