%nav.navbar.navbar-expand-md.navbar-light.bg-light
  %a.navbar-brand#logo-img{:href => "/"}
    =image_tag('ascension-logo.png', size: '65x26')
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => "/users"}
          Users
          %span.sr-only (current)
      - if current_user.try(:admin?)
        %li.nav-item
          %a.nav-link{:href => "/roles"}
            Roles
    - if user_signed_in?
      %ul.navbar-nav
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{href: '/', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
            = current_user.email
            %i.material-icons
              account_circle
          .dropdown-menu{'aria-labelledby': 'navbarDropdownMenuLink'}
            = link_to('Logout', destroy_user_session_path, method: :delete)
